body {
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

.scorecard {
  width: 320px;
}

/* Tooltip */

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  padding: 2px;
  font: 12px sans-serif;
  background: #004093;/*lightsteelblue;*/
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.focus-svg {
  position: relative;
}

/* Curve */

.brush {
  pointer-events: none;
}

.curve {
  width: 320px;
  overflow: hidden;
  position: relative;
}

.curve-svg circle {
  stroke: #000;
}

.curve rect {
  fill: #004093;
}

.axis path {
  display: none;
}

.axis text {
  font-size: 9px;
}

.invisible {
  display: none;
}

.brush .extent {
  stroke: #CC0000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
  fill: #CC0000;
}